{% extends 'base.html.twig' %}

{% block title %}Episode index{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center my-5">Tous les épisodes:</h1>

    <a href="{{ path('episode_new') }}" class="d-flex justify-content-center">
        <button class="btn btn-success mb-5 ">Créer un nouvel épisode</button>
    </a>

    <div class="row mx-3">
        {% for episode in episodes %}
            <div class="col-md-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ episode.season.program.title }}</h5>
                        <h4 class="card-title">{{ episode.season.slug }}</h4>
                        <p class="card-title">Episode:
                            {{ episode.number }} - {{ episode.slug }}</p>
                        <p class="card-text description">{{ episode.synopsis }}</p>
                        <a href="{{ path('episode_show', {'slug': episode.slug}) }}"
                           class="btn btn-primary">
                            Voir
                        </a>
                        <a href="{{ path('episode_edit', {'slug': episode.slug}) }}"
                           class="btn btn-warning">
                            Modifier
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col">
                <p>Aucun enregistrement trouvé.</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}
