{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center my-5">
        Toutes les saisons:
    </h1>
    <a href="{{ path('app_season_new') }}" class="d-flex justify-content-center">
        <button class="btn btn-success mb-5 "> Créer une nouvelle saison</button>
    </a>
    <div class="row mx-3">
        {% for season in seasons %}
            <div class="col-md-3">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ season.program.title }}</h5>
                        <p class="card-title">{{ season.slug }}</p>
                        <p class="card-text">{{ season.year }}</p>
                        <p class="card-text description">{{ season.description }}</p>
                        <a href="{{ path('app_season_show', {'slug': season.slug}) }}"
                           class="btn btn-primary">
                            Voir
                        </a>
                        {% if is_granted("ROLE_ADMIN")
                            or (is_granted("ROLE_CONTRIBUTOR")
                            and app.user) %}
                        <a href="{{ path('app_season_edit', {'slug': season.slug}) }}"
                           class="btn btn-warning">
                            Modifier
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col">
                <p>Aucun enregistrement trouvé.</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}
