<section class="d-flex justify-content-center">
    <div class="col-md-6">
        {{ form_start(form) }}
        <div class="form-group mb-3">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            {% if form_errors(form.title) %}
                <div class="error">
                    {{ form_errors(form.title) }}
                </div>
            {% endif %}
        </div>
        <div class="form-group mb-3">
            {{ form_label(form.synopsis) }}
            {{ form_widget(form.synopsis, {'attr': {'class': 'form-control'}}) }}
            {% if form_errors(form.synopsis) %}
                <div class="error">
                    {{ form_errors(form.synopsis) }}
                </div>
            {% endif %}
        </div>
        <div class="form-group mb-3">
            {{ form_label(form.year) }}
            {{ form_widget(form.year, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group mb-3">
            {{ form_label(form.category) }}
            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group mb-3">
            {{ form_label(form.actors) }}
            <div class="row">
                {% for actor in form.actors %}
                    <div class="col-md-4">
                        <div class="form-check">
                            {{ form_widget(actor, {'attr': {'class': 'form-check-input'}}) }}
                            {{ form_label(actor, null, {'label_attr': {'class': 'form-check-label'}}) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="d-flex mb-5">
            <div class="form-group mb-5">
                {{ form_label(form.posterFile) }}
                {{ form_widget(form.posterFile,
                    {'attr': {'class': 'form-control-file', 'onchange': 'previewImage(this)'}}) }}
            </div>
            <div>
                {% if program is defined and program.poster %}
                    <img id="preview"
                         src="{{ asset('uploads/images/posters/' ~ program.poster) }}"
                         alt="Image associée" style="max-width: 100%; height: auto;">
                {% else %}
                    <img id="preview" src="#" alt="Aperçu de l'image"
                         style="display: none; max-width: 100%; height: auto;">
                {% endif %}
            </div>
        </div>
        <div class="d-flex">
            <div class="form-group mb-5">
                {{ form_label(form.videoFile) }}
                {{ form_widget(form.videoFile,
                {'attr': {'class': 'form-control-file', 'onchange': 'previewVideo(this)'}}) }}
            </div>
            <div>
                <video id="preview-video" controls style="max-width: 100%; height: auto;"></video>
            </div>
        </div>

        <button type="submit" class="btn btn-warning">Ajouter une série</button>
        {{ form_end(form) }}
    </div>
</section>

<script>
    //FileReader Javascript API for preview img
    function previewImage(input) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('preview').src = e.target.result;
                document.getElementById('preview').style.display = 'block';
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    // FileReader Javascript API for preview video
    function previewVideo(input) {
        if (input.files && input.files[0]) {
            const video = document.getElementById('preview-video');
            const fileURL = URL.createObjectURL(input.files[0]);
            video.src = fileURL;
        }
    }
</script>
