{% extends 'base.html.twig' %}

{% block title %}Wild Series - All programs{% endblock %}

{% block body %}
    <section>
        <h1 class="d-flex justify-content-center my-5">Les programmes :</h1>

        <div class="d-flex justify-content-evenly mb-5">
            <div class="d-flex flex-wrap justify-content-evenly">
                {% for program in programs %}
                    <div class="card" style="width: 18rem; background-color: var(--quinary-color)">
                        <img class="card-img-top "
                             src="{{ asset('images/poster/' ~ program.poster) }}"
                             alt="Poster" style="height:60%">
                        <div class="card-body">
                            <h5 class="card-title">{{ program.title }}</h5>
                            <h6>Catégorie : {{ program.category.name }}</h6>
                            <p class="card-text">{{ program.synopsis }}</p>
                            <a href="{{ path("program_show", { id: program.id }) }}">
                                <button class="btn btn-primary">
                                    Voir la fiche
                                </button>
                            </a>
                            <form method="post" action="{{ path('program_delete', {'id': program.id}) }}"
                                  onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ program.id) }}">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                {% else %}
                    Aucune série trouvée.
                {% endfor %}
            </div>

        </div>
        <a href="{{ path('app_index') }}" class="d-flex justify-content-center
        text-decoration-none mb-5">
            <button class="btn btn-return" type="button">
                Retour à l'accueil
            </button>
        </a>
        <a href="{{ path('program_new') }}" class="d-flex justify-content-center
        text-decoration-none mb-5">
            <button class="btn btn-return" type="button">
                Ajouter une série
            </button>
        </a>
    </section>
{% endblock %}