{% extends 'base.html.twig' %}

{% block title %}Wild -series - Acteurs{% endblock %}

{% block body %}
    <section>
        <h1 class="d-flex justify-content-center my-5">{{ actor.name }}</h1>

        <div class="d-flex justify-content-center my-5">
            <div class="card" style="width: 36rem;background-color: var(--quinary-color)">
                <div class="card-body">
                    <h5 class="card-title">{{ actor.name }}</h5>
                    <p>Séries associés.es :</p>
                    {% for program in actor.programs %}
                        <a href="{{ path('program_show', { 'id': program.id }) }}">
                            Série : {{ program.title }}
                        </a>
                        <br>
                    {% else %}
                        <p>Aucune série disponible</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center my-5">
            <a href="{{ path('actor_index') }}">
                <button class="btn btn-return">Retour à la liste des acteurs</button>
            </a>
        </div>
    </section>
{% endblock %}
